/*
body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.modal {
    display: block;
}

.alert {
    font-size: 0.9rem;
}

.errors {
    background: #FF2205;
    border-radius: 5px;
    padding: 21px 0 2px 0;
}

.breadcrumb {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    margin: 0.3rem 0;
}

.table {

}

.table td, .table th {
    padding: .15rem;
    font-size: 0.8rem;
}

.card-header {
    font-size: 0.9rem;
    padding: 0.5rem;
}

.nav-pills .nav-link {
    background-color: rgba(0, 0, 0, .03);
    padding: .2rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-pills .nav-link.active {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.nav-pills .nav-item .btn {
    display: flex;
}

.list-group-item {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    padding: 0.05rem 1.25rem;
    font-size: 0.8em;
}

.card-body {
    padding: 0 !important;
}

.form-control {
    height: 1.8rem;
    padding: 0.2rem 0.75rem;
    font-size: 0.8rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

label {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.table-rendered{
    margin-bottom: 0;
}
*/
